/* Reset and Normalize CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: block;
}
html {
    height: 100%;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}
/* Body */
body {
    height: 100%;
    width: 100%;
    font-family: "Poppins";
    color: white;
    overflow-x: hidden !important;
}
/* Login */
.loginContainerSection {
    display: flex;
    background: linear-gradient(180deg, rgba(28, 0, 15, 1) 45%, rgba(138, 0, 75, 1) 100%);
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.loginContainerSection .textLogin {
    margin-bottom: 25px;
}
.loginContainerSection .textLogin .titleHB {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1vh;
}
.loginContainerSection .textLogin .textHB {
    text-align: center;
    opacity: 70%;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2vh;
}
.loginContainerSection .formLoginContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.loginContainerSection .formLoginContainer form input {
    width: 75vw;
    font-family: 'Poppins';
    font-weight: 500;
    transition: all 0.5s;
    padding-left: 20px;
    padding-block: 20px;
    border: 2px solid #97808c;
    border-radius: 15px;
    background: transparent;
    color: #fff;
    font-size: 14px;
}
.loginContainerSection .formLoginContainer form input:hover {
    border: 2px solid #fff;
}
.loginContainerSection .formLoginContainer form input::placeholder {
    color: #97808c;
    font-family: 'Poppins';
    font-weight: 500;
}
.loginContainerSection .formLoginContainer form input:focus {
    outline: none;
    border-color: #fff;
}
.loginContainerSection .formLoginContainer form .loginButton {
    margin-top: 4vh;
    font-family: 'Poppins';
    font-size: 14px;
    color: #fff;
    background: #1a000e;
    transition: all 0.5s;
    border-radius: 15px;
    border: 0px;
    padding-block: 20px;
    width: 75vw;
}
.loginContainerSection .formLoginContainer form .loginButton:hover {
    cursor: pointer;
    background: #2d0018;
}
/* Loged */
.LogedContainer {
    background: linear-gradient(180deg, rgba(28, 0, 15, 1) 0%, rgba(138, 0, 75, 1) 50%, rgba(28, 0, 15, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.LogedContainer .titleLoged {
    width: 80vw;
    margin-block: 2.5vh;
    margin-top: 4vh;
}
.LogedContainer .titleLoged strong {
    font-weight: 600;
    color: #cf006e;
}
.LogedContainer .textLogedContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    width: 100%;
}
.LogedContainer .textLogedContainer .textLoged {
    font-size: 14px;
    width: 80vw;
    line-height: 2rem;
}
.finalLoged {
    line-height: 2rem;
    width: 80vw;
    font-size: 14px;
}
.finalLoged .tresMil {
    font-size: 18px;
    font-weight: 600;
    margin-top: 2vh;
    margin-bottom: 4vh;
}
.finalLoged a img {
    width: 100% !important;
    border-radius: 15px;
}
.finalLoged .playList {
    margin-top: 3vh;
}
.containerPhotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-block: 4vh;
}
.containerPhotos img {
    width: 33.3333333333%;
    object-fit: cover;
}
